.empty-text {
  color: #9b9b9b;
  font-size: 12px;
  margin: auto;
}

.group-card-row { // new-way card row
  display: grid;
  grid-template-columns: calc(33.33% - 10px) calc(33.33% - 10px) calc(33.33% - 10px);
  grid-gap: 10px 15px;
  width: 100%;

  .div-img-container{
    width: 100%;
    height: 94px;
    overflow: hidden;
    border-radius: 10px;
    img{
      max-width: unset;
      height: 100%;
    }
  }
  .group-card {
    width: 100%;
  
    & img {
      border-radius: 15px;
      width: 100%;
    }
  
    & .title {
      font-size: 12px;
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 5px;
    }
  
    & .icon-status {
      display: flex;
      justify-content: center;
      font-size: 12px;
      color: #9b9b9b;
  
      & ion-icon {
        font-size: 15px;
      }
    }
    .card-wrap{
      width: 100%;
    }
  }
}

.all-group-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .title{
  height: 19px;
  font-family: SFProText;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  color: var(--black);}
  & .view-all {
    font-size: 16px;
  }

  & .view-all {
    color: #9b9b9b;
    cursor: pointer;
  }
}

ion-content{
	-webkit-overflow-scrolling: touch;
}
.container{
  margin: 80px 0px 7em 0px;
  margin-bottom: 7em;
}

h1{
  margin-top: 0px;
  font-family: 'SF Pro Bold';
}