ion-img{
    object-fit: cover;
    height: 100% !important;
    max-width: 100% !important;
    width: 100% !important;
}

ion-spinner{
    position: absolute;
    height: 100%;        
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}