<ion-content no-bounce>
    <div (click)="goBack()" class="btn-back-content-item" [ngClass]="{'btn-back-content-item-ios':_globalServ?.iosDivice}">
      <span class="btn-back-item fas fa-chevron-left"></span>
    </div>
    <div id="map" class="map" #map></div>
    <!-- <ion-fab (click)="refreshLatLong()" vertical="bottom" horizontal="end" slot="fixed"> -->
     <!--  <ion-fab-button>
        <div class="fas fa-crosshairs"></div>
      </ion-fab-button> -->
      <!-- </ion-fab> -->
    </ion-content>
    <ion-bottom-drawer class="drawer" [state]="state" id ="drawer" [minimumHeight]="100" [dockedHeight]="10" [shouldBounce]="true"
    [distanceTop]="distanceTop">
    <input type="text" id="all" hidden="hidden">
    <input type="text" id="latInit" hidden="hidden">
    <input type="text" id="longInit" hidden="hidden">
    <input type="number" id="state" (click)="stateFunc()" hidden="hidden">
    <div class="container drawer-container">
      <div class="row">
        <!-- <div class="col-md-2"></div> -->
        <!-- <div class="col-md-8"> -->
          <div class="box-center-full">
            <span class="line-bottom-drawer"></span>
          </div>
          <div id="drawer-content">
            <ion-row>
              <ion-col size="4">
                <ion-card class="imgCard">
                  <img class="image-card-odm" id="imgDesc" src="">
                </ion-card>
              </ion-col>
              <ion-col size="8">
                <div style="margin-top: 10px;">
                  <table>
                    <tr>
                      <td>
                        <ion-avatar style="width:32px;height:32px;">
                          <img id="imgProfile" src="">
                        </ion-avatar>
                      </td>
                      <td><span style="margin-right: 8px"></span>
                        <span id="avatar"
                        style="text-align: left;max-width: 100%;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"
                        class="odm-avatar">
                      </span></td>
                    </tr>
                  </table>
  
                  <table style="margin-left: 8px;">
                    <tr>
                      <td>
                        <ion-icon class="odm-icon" name="information-circle"></ion-icon>
                      </td>
                      <td class="secondary-text"><span style="margin-right: 16px"></span>
                        <span id="title"
                        style="text-align: left;max-width: 100%;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
  
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <ion-icon class="odm-icon" name="md-calendar"></ion-icon>
                    </td>
                    <td class="secondary-text"><span style="margin-right: 16px"></span>
                      <span id="validUntil"
                      style="text-align: left;max-width: 100%;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
  
                    </span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <ion-icon class="odm-icon" name="pin"></ion-icon>
                  </td>
                  <td class="secondary-text"><span style="margin-right: 16px"></span>
                    <span id="address"
                    style="text-align: left;max-width: 100%;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
  
                  </span>
                </td>
              </tr>
            </table>
  
          </div>
        </ion-col>
      </ion-row>
  
      <div class="box-center-full">
        <ng-scrollbar [trackX]="true" [trackY]="false">
          <div style="display: flex;">
            <ion-button class="button-two" shape="round" (click)="goToOfferAndDiscount()">
              <div class="more-box-icon-text">
                <ion-icon class="more-icon" name="information-circle"></ion-icon> <span class="more-item-text">Info</span>
              </div>
            </ion-button>
            <ion-button (click)="goToDirections()" class="button-two" shape="round">
              <div class="more-box-icon-text">
                <ion-icon class="more-icon" name="ios-paper-plane"></ion-icon> <span
                class="more-item-text">Directions</span>
              </div>
            </ion-button>
            <ion-button (click)="goToCode()" class="button-two" shape="round">
              <div class="more-box-icon-text">
                <ion-icon class="more-icon" name="ios-barcode"></ion-icon> <span class="more-item-text">Code</span>
              </div>
            </ion-button>
          </div>
        </ng-scrollbar>
      </div>
    </div>
  
    <!-- </div> -->
    <div class="col-md-2"></div>
  </div>
  </div>
  </ion-bottom-drawer>

  <ion-fab id="fab" (click)="getMyLocation()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="locate" mode="md" color="primary"></ion-icon>
    </ion-fab-button>
  </ion-fab>