.map{
    background-color: white !important;
    height: 100%;
}

.line-bottom-drawer{
    height: 4pt;
    background: #cecece;
    border-radius: 15px;
    margin-top: 10px; 
    width: 32pt;
    display: inline-block;
}

ng-scrollbar{
    // max-height: 90px;
}

.drawer{
    border-radius: 35px;
    border: 12px solid white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    // transform: translate(360px) !important;
}
.image-card-odm{
    //width: 108pt;
    // height: 96px;
    object-fit: cover;

    height: 90px;
    width: 100%;
}
.odm-avatar{
    font-size: 12px;
    font-weight: 600;
}

.odm-icon{
    font-size: 15px;
}

.more-icon{
    font-size:18px;
    display: inline-block;
    vertical-align: middle;
}

.more-item-text{
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    margin-left: 4px;
}

.more-box-icon-text{
    width: fit-content;
}

.button-two{
   max-width: 119px;
    // margin-left: 7px;
}

.btn-back-item{
    color: black;
    text-shadow: none;
}
.imgProfile{
    height: 32px;
    height: 32px;
}
button{
   padding: 12px 12px 12px 12px;
}

.imgCard{
    margin:10px 0px 20px 0px;
    // max-width: 100%;

    width: 100%;
    height: 90px;
}
.button-native{
    padding:0px 18px;
}

.secondary-text{
    color: #888;
    font-size: 12px;
    font-family: SF Pro Regular;
}

// .drawer-content{
//     transition: all 0.25s ease-in-out 0s;
//     touch-action: none;
//     user-select: none;
//     -webkit-user-drag: none;
//     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
//     transform: translateY(360px);
// }
ion-fab-button{
    --background: #fff;
}