<ion-card [class.card1]=" dataPlan && dataPlan?.type == 'club_plan'">
	<div class="card-img-container">
		<!-- <div class="bg-img" [style.backgroundImage]="'url('+dataPlan?.image+')'" *ngIf="dataPlan && dataPlan?.type !== 'club_plan'" (click)="goToItemPlan()"></div>
		<div class="bg-img" [style.backgroundImage]="'url('+dataPlan?.eventPhoto+')'" *ngIf="dataPlan && dataPlan?.type === 'club_plan'" (click)="goToEventLink()"></div> -->
		<!-- <img class="pc-card-image" *ngIf="dataPlan?.type !== 'club_plan'" (click)="goToItemPlan()"
			src="{{dataPlan?.image}}">
		<img class="pc-card-image" *ngIf="dataPlan?.type === 'club_plan'" (click)="goToEventLink()"
			src="{{dataPlan?.eventPhoto}}"> -->
		<app-img-with-loader *ngIf="dataPlan && dataPlan?.type === 'club_plan'"
			[src]="dataPlan?.eventPhoto ? dataPlan?.eventPhoto : placeHolder" (click)="goToEventLink()">
		</app-img-with-loader>
		<app-img-with-loader *ngIf="dataPlan && dataPlan?.type !== 'club_plan'" [src]="dataPlan?.image"
			(click)="goToItemPlan()">
		</app-img-with-loader>

	</div>
	<ion-card-header [ngClass]="{'nomargin':dataPlan && dataPlan?.type === 'club_plan'}"
		*ngIf="dataPlan && dataPlan.type !== 'group_plan' && dataPlan?.type !== 'club_plan'" (click)="goToItemPlan()">
		<ion-card-subtitle class="subtitle">
			{{getDate(dataPlan?.plan_date)}}</ion-card-subtitle>
		<ion-card-title class="title">
			<span style="font-size: 20px;
				font-family: 'SF Pro Heavy';" *ngIf="dataPlan?.private == true">
				<ion-icon class="icon-item" name="lock"></ion-icon>
			</span>
			{{dataPlan?.title}}</ion-card-title>

	</ion-card-header>

	<ion-card-header [ngClass]="{'nomargin':dataPlan && dataPlan?.type === 'club_plan'}"
		*ngIf="dataPlan && dataPlan.type !== 'group_plan' && dataPlan?.type === 'club_plan'" (click)="goToEventLink()">
		<ion-card-subtitle class="subtitle"> {{getDate(dataPlan?.plan_date)}}</ion-card-subtitle>
		<ion-card-title class="title">
				<span style="font-size: 20px;
				font-family: 'SF Pro Heavy';" *ngIf="dataPlan?.private == true">
				<ion-icon class="icon-item" name="lock"></ion-icon>
			</span>
			{{dataPlan?.title}}</ion-card-title>
	</ion-card-header>
	<ion-card-header *ngIf="dataPlan && dataPlan.type === 'group_plan'" (click)="goToItemPlan()">
		<ion-card-subtitle class="subtitle"> {{getDate(dataPlan?.plan_date)}}</ion-card-subtitle>
		<ion-card-title class="title">
				<span style="font-size: 20px;
				font-family: 'SF Pro Heavy';" *ngIf="dataPlan?.private == true">
				<ion-icon class="icon-item" name="lock"></ion-icon>
			</span>
			{{dataPlan?.title}}</ion-card-title>
	</ion-card-header>
	<ion-card-content *ngIf="dataPlan && dataPlan?.type !== 'club_plan'"
		[ngClass]="{'card-content-ios':_globalServ?.iosDivice,'card-content-android':_globalServ?.androidDivice}">
		<ion-row>
			<ion-col size="8">
				<ion-item *ngIf="dataPlan &&dataPlan.type !== 'group_plan'" class="ion-item-plan-card" lines="none">
					<ion-avatar slot="start" (click)="openPublicProfile(dataUser)">
						<img *ngIf="dataUser?.user?.image != null && dataUser?.user?.image != ''" class="img-avatar-pc"
							src="{{url}}/{{dataUser?.user?.image}}">
						<img *ngIf="dataUser?.user?.image == null || dataUser?.user?.image == ''" class="img-avatar-pc"
							src="assets/img/empty_avatar.png">
					</ion-avatar>
					<ion-label style="margin-bottom: 7px" class="weight-600" *ngIf="dataUser?.user?.first_name">
						{{dataUser?.user?.first_name}} {{dataUser?.user?.last_name}}</ion-label>
					<ion-label style="margin-bottom: 7px" class="weight-600" *ngIf="dataUser?.user?.name">
						{{dataUser?.user?.name}}</ion-label>
				</ion-item>
				<ion-item *ngIf="dataPlan && dataPlan.type === 'group_plan'" class="ion-item-plan-card" lines="none">
					<ion-avatar slot="start">
						<img *ngIf="dataPlan?.group?.image != null && dataPlan?.group?.image != ''"
							class="img-avatar-pc" src="{{dataPlan?.group?.image}}">
						<img *ngIf="dataPlan?.group?.image == null || dataPlan?.group?.image == ''"
							class="img-avatar-pc" src="assets/img/empty_avatar.png">
					</ion-avatar>
					<ion-label style="margin-bottom: 7px" class="weight-600">{{dataPlan?.group?.title}}</ion-label>
				</ion-item>
			</ion-col>
			<ion-col *ngIf="dataPlan && dataPlan.type !== 'club_plan'" size="4" style="text-align: center;">
				<ion-chip (click)="join()" class="join"
					[ngClass]="{'join-android':_globalServ?.androidDivice,'joined':checkJoinedUser()}">
					<!-- *ngIf="dataPlan?.join != true" -->
					<ion-label *ngIf="!checkJoinedUser()">{{ 'plan-card.join' | translate }}</ion-label>
					<ion-label *ngIf="checkJoinedUser()">{{ 'plan-card.joined' | translate }}</ion-label>
					<!-- *ngIf="dataPlan?.join == true" -->
				</ion-chip>
			</ion-col>
		</ion-row>

		<ng-scrollbar [trackX]="true" [trackY]="false">
			<div class="scroll-content">
				<div class="people-going" *ngIf="getParticipants?.total==1">
					{{getParticipants?.total}}{{ 'plan-card.personGoing' | translate }}
				</div>
				<ion-item class="people-going" *ngIf="getParticipants?.total==0" lines="none"
					style="margin-left:10%;font-family:SF Pro Regular;font-size:13px;--padding-start:12px">
					<div text-center>{{ 'plan-card.nobodyjoined' | translate }}</div>
				</ion-item>
				<div class="people-going" *ngIf="getParticipants?.total > 1">
					{{getParticipants?.total}} {{ 'plan-card.peopleGoing' | translate }}
				</div>
				<ion-avatar *ngFor="let item of getParticipants?.participants" class="avatar-going">
					<img *ngIf="_globalServ?.org == 'CEU' && item?.Ceu_User?.image != null && item?.Ceu_User?.image != ''"
						class="pc-avatar-image" [src]="item?.Ceu_User?.image">
					<img *ngIf="_globalServ?.org == 'CEU' && item?.Ceu_User?.image == null || item?.Ceu_User?.image == ''"
						class="img-avatar-pc" src="assets/img/empty_avatar.png">
					<img *ngIf="_globalServ?.org == 'IE' && item?.IE_User?.image != null && item?.IE_User?.image != ''"
						class="pc-avatar-image" [src]="item?.IE_User?.image">
					<img *ngIf="_globalServ?.org == 'IE' && item?.IE_User?.image == null && item?.IE_User?.image != ''"
						class="img-avatar-pc" src="assets/img/empty_avatar.png">
				</ion-avatar>
			</div>
		</ng-scrollbar>

	</ion-card-content>
</ion-card>