/*.item-avatar-card.hydrated{
    --inner-border-width: 0;
    margin-top: -15px;
    --padding-start: 0;
}*/



ion-card {
    min-height: 375px !important;
    height: 375px !important;
    // margin-left: auto !important;
    // margin-right: auto !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .12) !important;
    //   webkit-box-shadow: 0 4px 6px rgba(0,0,0,.12) !important;
    margin: 16px;
}


.card1 {
    min-height: 275px !important;
    height: 275px !important;
    // margin-left: auto !important;
    // margin-right: auto !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .12) !important;
    //   webkit-box-shadow: 0 4px 6px rgba(0,0,0,.12) !important;
    margin: 16px;
}


.join {
    //margin-top: 11px;
    //display: inline-table;
    background: rgb(244, 245, 248);
    white-space: nowrap;
}

.joined {
    background: rgb(0, 156, 215);
    color: white;
}

.join-android {
    margin-top: 11px;
}

.avatar-going {
    width: 35px !important;
    height: 35px !important;
    max-width: 35px !important;
    max-height: 35px !important;
    margin-left: 10px;
    min-width: 40px;
    min-height: 40px;
}

.people-going {
    //display: inline-table;
    white-space: nowrap;
}

ion-card-header {
    margin-top: -64px !important;
    --background: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
}

.card-content-android {}

.card-content-ios {

    padding: 8px;
    padding-top: 0px;
}

.ion-item-plan-card {
    // margin-left: -15px;
    //height: 250px;
    //width: 50px;
    --padding-start: 7px;
}

.pc-avatar-image {
    //height: 150px !important;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

ng-scrollbar {
    margin-bottom: 15px;
    max-height: 80px;
    margin-left: 15px;
}

.subtitle {
    text-align: left;
    max-width: 100%;
    -webkit-line-clamp: 1;
    font-weight: 100;
    // color: #0e0e0e;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    // font-size: 11pt;
    font-size: 13px;
    white-space: nowrap;
    font-family: SF Pro Regular;
    text-transform: inherit;
}

.scroll-content {
    display: flex;
    align-items: center;
}

.title {
    text-align: left;
    max-width: 100%;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    white-space: nowrap;
    font-family: SF Pro Medium;
    // font-weight: 600;
    color: black;
}

.card-img-container {
    width: 100%;
    height: 280px;
    display: flex;
    align-items: center;
    justify-items: center;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;

    .bg-img {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }
}

.pc-card-image {
    max-width: 100% !important;
    width: 100% !important;
}

.weight-600 {
    --color: initial;
    display: block;
    color: var(--color);
    font-family: inherit;
    font-size: 11pt;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.img-avatar-pc {
    height: 100%;
}

.nomargin {
    margin-top: 0px;
}

ion-avatar {
    height: 30px;
    width: 30px;
}

// Mausam
ion-card-content {
    padding-top: 0px;
    padding-bottom: 0px;
}

ion-col {
    padding-top: 0px;
    padding-bottom: 0px;
}

ng-scrollbar {
    max-height: 50px;
    margin-bottom: 0px;
}

// Ion Image Styles
ion-img {
    height: 100%;
    object-fit: cover;
}