/*.btn-back-content-item{
    height: 75px;
    position: fixed;
    margin-top: 15px;
    margin-left: 15px;
    z-index: 9999;
    //background: rgba(255,255,255,0.8);.
    text-align: center;
}

.btn-back-item{
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px rgba(255,255,255,0.8);
    padding: 3px 3px;
    width: 21px;
    background: rgba(255,255,255,0.8);
}*/

.box-center-full{
    margin-top: 35px;
    margin-bottom: 25px;
}


ion-content {
    --background: #f9f9f9;
    -webkit-overflow-scrolling: touch;
}

.map-one{
   margin-top: 20px;
}

table{
    margin-top: 24pt;
}

/*.sc-ion-card-md-h {
    margin-left: 0px; 
     margin-right: 0px;
     margin-top: 0px; 
     border-radius: 0px;
}*/

/*.item-avatar-card.hydrated{
    --inner-border-width: 0;
    --padding-start: 0;
}*/

.member-screen {
    margin-top: 155px !important; 
}

.member {
    display: flex;
    align-items: center;
    margin: 15px 0px;
    padding: 5px;
}
.col-md-8{
    padding: 0px !important;
}
.member-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 15px;
}

.member-name {
    font-weight: bold;
}

.selected {
    background: #009cd80d;
    border-radius: 5px;
}

.checkbox-item {
    margin: 5px 0px;
    --padding-start: 25px;
}

ion-radio {
    width: 26px;
    height: 26px;
    border: solid 2px #c8c7cc;
    border-radius: 26px;
    --color: #009cd8;
    --color-checked: white;
}

.checked {
    background: #009cd8;
    border-color: #009cd8;
}

ion-content{
	-webkit-overflow-scrolling: touch;
}
.container{
	margin-top: 80px;
}