/*.btn-back-content-item{
    height: 75px;
    position: fixed;
    margin-top: 15px;
    margin-left: 15px;
    z-index: 9999;
    //background: rgba(255,255,255,0.8);.
    text-align: center;
}

.btn-back-item{
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px rgba(255,255,255,0.8);
    padding: 3px 3px;
    width: 21px;
    background: rgba(255,255,255,0.8);
}*/

.box-center-full{
    margin-top: 35px;
    margin-bottom: 25px;
}

.map-one{
   margin-top: 20px;
   margin-bottom: 20px;
}

table{
    margin-top: 24pt;
}

/*.sc-ion-card-md-h {
    margin-left: 0px; 
     margin-right: 0px;
     margin-top: 0px; 
     border-radius: 0px;
}*/

/*.item-avatar-card.hydrated{
    --inner-border-width: 0;
    --padding-start: 0;
}*/

.members-avatar {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    margin-right: 5px;
}
.more-member {
    width: 32px;
    height: 32px;
    text-align: center;
    font-size: 14px;
    background-color: #f4f5f8;
    border-radius: 32px;
    padding: 9px;
    font-weight: bold;
    cursor: pointer;
}
