ion-card-header{
	// margin-top: -101px;
	margin-top: -85px; // Mausam
	--background: #DFDAD7;
	opacity: 0.8;
	border-radius: 0px 0px 8px 8px;
	position: absolute;
	bottom: 0;
	width: 100%;	
}

ion-card-content{
	margin-top: 15px;
}

.od-card-image{
	height: 288px;
	border-radius: 12px;
	width: 100%;
}

.sc-ion-card-md-h{
	border-radius: 12px;
	display: block;
	max-height: 289px;
}

// New CSS
ion-card-title{
	font-size: 16pt;
	font-family: 'SF Pro Regular';
	display: block !important;
	max-height: 50px;
}
ion-card-header{
	padding-left: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
}
ion-card{
	margin: 16px !important;
}

