<ion-content>
  <ion-toolbar>
    <ion-row>
      <ion-col (click)="cancel()" class="column-left-title-cropp blue-text" size="3">
        Cancel
      </ion-col>
      <ion-col class="column-center-title-cropp" size="6">
        Password change
      </ion-col>
      <ion-col  class="column-right-title-cropp blue-text" size="3">
        Done
      </ion-col>
    </ion-row>
  </ion-toolbar>

  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div style="margin-top: 80pt;"></div>

        <form>
          <ion-item>
            <ion-label class="change-pass-label" position="floating">Old password</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="change-pass-label" position="floating">New password</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="change-pass-label" position="floating">Repeat ássword</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </form>

      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

</ion-content>