/*.btn-back-content{
    height: 75px;
    position: fixed;
    margin-top: 15px;
    margin-left: 15px;
    z-index: 9999;
    //background: rgba(255,255,255,0.8);.
    text-align: center;
}

.btn-back{
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px rgba(255,255,255,0.8);
    padding: 3px 3px;
    width: 21px;
    background: rgba(255,255,255,0.8);
}*/
.btn-instagram{
    font-size: 14px;
    background: #EBC8DC;
    color: #C13584;
}
.box-center-full{
    margin-top: 35px;
    margin-bottom: 10px;
}
.title-item{
    font-weight: normal;
    font-size: 16px;
}

/*
.item-avatar-card.hydrated{
    --inner-border-width: 0;
    --padding-start: 0;
}
*/

.map-one{
   margin-top: 20px;
}

table{
    margin-top: 10pt;
    margin-bottom: 20pt;
    margin-left: 8px;
}
h2 {
    font-size: 20px;
    font-family: 'SF Pro Medium';
    font-weight: 900;
    margin-left: 25px;
}

.item-user{
    --padding-start: 0px;
}

ion-chip{
    margin-left: 0px;
}
/*
.sc-ion-card-md-h {

    margin-left: 0px; 
     margin-right: 0px;
     margin-top: 0px; 
     border-radius: 0px; 
}*/

ion-avatar{
    height: 40px;
    width: 40px;
}

.comment-body {
    display: flex;
    align-items: flex-start;
    padding: 10px 5px;
    padding-left: 0px;
    width: 90%;
}
.comment-avatar {
    width: 40px;
    height: 40px;
    border-radius: 53px;
    margin-right: 10px;
    border: solid 1px #dedede;
}
.comment-text-div{
    line-height: 16px;
    font-weight: 300;
    font-family: 'SF Pro Light';
    text-align: justify !important;
    margin-top: 10px;
}
.comment-text{
    font-size: 14px;
}
.secondary-text{
    line-height: 1.38;
}
.view_lbl{
    display: block;
    text-align: right;
    padding-right:10px;
    font-size: 14px;
    font-family: 'SF Pro Medium';;
    letter-spacing: 1px;
}
.add-comment-section {
    font-size: 14px;
    font-family: 'SF Pro Medium';
    // text-align: center;
    // margin-left: 65px;
    // margin-top: 11px;
    letter-spacing: 1px;
}
.add-comment {
    // font-weight: bold;
}