.title-noti{
    font-size: 14px;
    color: rgb(34, 36, 40);
    margin-top: 27px;
    font-family: 'SF Pro Bold';
}


ion-label
{
        margin-right: 0px;
}

.row-noti-recent{
    margin: auto;
    width: 50%;
  margin-top: 12px;
    font-size: 30px;
    color: rgb(216, 216, 216);
}

.row-back{
    margin: auto;
    width: 50%;
    padding: 20px;
    font-size: 21pt;
    color: black;
}

.hr-noti{
    width: 1500px !important;
    background: rgb(224, 224, 224) !important;
    display: block !important;
    margin-left: -400px; 
    visibility: visible !important;
    height: 3px;
}


.noti-one{
    font-size: 16px;
    font-family: 600;
    display:  block;
    width:    100%;
    // height:   50px;
    overflow: hidden;
    font-family: 'SF Pro Regular';
    white-space: initial;
}

.noti-two{
    font-size: 12px;
    color: rgb(155, 155, 155);
    text-overflow: ellipsis;white-space: nowrap;
}


.item-noti-margin{
    margin-top: 21pt;
}

.box-noti-item{
    margin-top: 21px;
    margin-left: -15px;
}

.hr-noti{
    width: 1500px !important;
    background: rgb(224, 224, 224) !important;
    display: block !important;
    margin-left: -400px; 
    visibility: visible !important;
}


.item.sc-ion-label-md-h, .item .sc-ion-label-md-h {
   white-space: normal; 
   margin-bottom: 2px;
}

.title{
    margin-top: 60pt;
}
img{
    height: 38px;
    width: 38px;
    max-width: none;
}

.transation-item{
    opacity: 1;
    transition: all 0.8s ease 5000ms;
}

.no_noti{
    display: block;
    text-align: center;
    font-size: 16px;
    color: grey;
    font-family: 'SF Pro Regular';
    
}

ion-segment{
    border-bottom: 1px solid var(--ion-color-light-shade);
}
ion-segment-button{
    font-size: 16px;
    color: var(--ion-color-light-shade);
    border-bottom: 1px solid var(--ion-color-light-shade);
    border: 0px;
    border-radius: 0px;
}
.segment-button-checked{
    background: #FFF;
    color: var(--ion-color-dark);
    border-bottom: 1px solid var(--ion-color-dark);
}

