<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <toolbar slot="fixed" [back]="true" [title]="pageTitleName? ('write-comment.post' | translate) : ''"></toolbar>

  <div class="container comment-container">
    <div class="row" style="height: 100%;">
      <div class="col-md-2"></div>
      <div class="col-md-8" style="height: 100%;padding-left: 0px;padding-right: 0px;">
        <h1 class="title" style="padding-left: 30px;">{{ 'write-comment.postsomething' | translate }}</h1>
        <!-- <hr class="hr-pc mtop"> -->
        <!-- <div style="margin-top: 40pt;"></div> -->

        <ion-item lines="none" style="padding: 16px;
        padding-top: 0px;">
          <ion-avatar slot="start" style="align-self: flex-start;">
            <img src="{{profile.image}}">
          </ion-avatar>
          <ion-textarea rows="4" cols="20" autofocus="true" [(ngModel)]="commentData" autoGrow="true" #comment_box
            placeholder="{{ 'write-comment.postsomething' | translate }}" style="color: #000;max-height: 150px;">
          </ion-textarea>
        </ion-item>

        <img class="image-plan" (click)="goToselectImage()" *ngIf="_globalServ.PostImagePath != null"
          [src]="_globalServ.PostImagePath">

        <!-- <div *ngIf="type == 'group'">
          <div class="comment-row" *ngFor="let comment of comments; let i = index">
            <div class="comment-body">
              <img class="comment-avatar" src="{{comment.fk_user_image}}" />  
              <div>
                <span class="comment-name">{{comment.fk_user_first_name}} {{comment.fk_user_last_name}}</span>
                <span class="comment-text">{{comment.comment}}</span>
              </div>
            </div>
            <div>
              <span class="secondary-text">{{timeDiff(comment.created)}}</span>
            </div>
          </div>
        </div> -->

        <div *ngIf="type == 'group'" style="margin-bottom: 100px;">
          <ion-card *ngFor="let comment of comments; let i = index" style="margin: 0px;
          box-shadow: none;border-bottom: 5px solid var(--ion-color-light);">
            <ion-item lines="none" style="padding-left: 14px;
            padding-right: 14px;
            padding-top: 14px;">
              <ion-avatar slot="start">
                <img src="{{comment.fk_user_image}}">
              </ion-avatar>
              <ion-label>
                <h4 style="font-weight: bold;">{{comment.fk_user_first_name}} {{comment.fk_user_last_name}}</h4>
                <p>{{timeDiff(comment.created)}}</p>
              </ion-label>
            </ion-item>
            <ion-card-content style="padding-top: 6px;
             padding-bottom: 6px;
             font-size: 14px;
             padding-left: 30px;">
              {{comment.comment}}
            </ion-card-content>
            <span *ngIf="!comment.image.includes('empty_avatar.png')">
              <img src="{{comment.image}}">
            </span>

            <!-- <ion-item lines="none" style="padding-left: 14px;
            padding-right: 14px;
            color: #b5b5b5;
            border-bottom: 1px solid #eee;
            padding-top: 8px;" *ngIf="comment.visible == false">
              <ion-avatar slot="start" style="align-self: flex-end;">
                <ion-icon name="heart" style="font-size: 16px;"></ion-icon> 2
              </ion-avatar>
              <ion-avatar slot="start" style="align-self: flex-end;">
                <ion-icon name="chatbubbles" style="font-size: 16px;"></ion-icon> 2
              </ion-avatar>
              <ion-label slot="end" style="text-align: end;align-self: start;
              font-size: 14px;" (click)="onComment(comment,i)">
                {{ 'write-comment.comment' | translate }}
              </ion-label>
            </ion-item> -->

            <!-- <ion-item lines="none" style="padding-left: 8px;
            padding-right: 8px;
            border-bottom: 1px solid #eee;
            padding-top: 8px;" *ngIf="comment.visible == true">
              <ion-avatar slot="start">
                <img src="{{comment.fk_user_image}}">
              </ion-avatar>
              <ion-textarea rows="2" cols="20" autofocus="true" [(ngModel)]="comment.text" autoGrow="true"
                #post_comment_box placeholder="{{ 'write-comment.writeAComment' | translate }}"
                style="color: #000;max-height: 50px;font-size: 14px;">
              </ion-textarea>
              <ion-avatar slot="end">
                <ion-icon name="send" style="font-size: 22px;
                color: #0093d0;
                float: right;
                padding: 6px;" (click)="onPostingComment(comment,i)"></ion-icon>
              </ion-avatar>
            </ion-item> -->

            <!-- <ion-card-content style="padding-top: 6px;
          padding-bottom: 6px;
          font-size: 14px;
          padding-right: 6px;
          padding-left: 6px;" *ngIf="comment && comment.tempdata.length > 0">
              <ion-item lines="none" *ngFor="let comm of comment.tempdata">
                <ion-avatar slot="start">
                  <img src="http://178.128.241.57/api/profileImage_29316854354879064.jpg">
                </ion-avatar>
                <ion-label>
                  <h4 style="white-space: normal;"><b>anu rana</b> {{comm.comment}}</h4>
                  <p style="color: #d2d2d2">{{timeDiff(comm.comm_date)}} 3
                    <span style="color: #d2d2d2" *ngIf="like == false" (click)="onLike()">
                      <ion-icon name="heart" style="font-size: 12px;"></ion-icon>
                    </span>
                    <span style="color:#c70909;" *ngIf="like == true" (click)="onLike()">
                      <ion-icon name="heart" style="font-size: 12px;"></ion-icon>
                    </span>
                  </p>


                </ion-label>
              </ion-item>
            </ion-card-content> -->
          </ion-card>
        </div>


        <div *ngIf="type == 'plan'">
          <ion-card *ngFor="let comment of comments; let i = index" style="margin: 0px;
              padding: 14px;
              box-shadow: none;">
            <ion-item lines="none">
              <ion-avatar slot="start">
                <img src="{{comment.image}}">
              </ion-avatar>
              <ion-label>
                <h4 style="font-weight: bold;">{{comment.name}}</h4>
                <p>{{comment.duration}} {{timeDiff(comment.date)}}</p>
              </ion-label>
            </ion-item>

            <ion-card-content style="padding-top: 0px;
                padding-bottom: 0px;">
              {{comment.comment}}
            </ion-card-content>
          </ion-card>
        </div>

        <!-- <div *ngIf="type == 'plan'">
          <div class="comment-row" *ngFor="let comment of comments; let i = index">
            <div class="comment-body">
              <img class="comment-avatar" src="{{comment.image}}" />
              <div>
                <span class="comment-name">{{comment.name}}</span>
                <span class="comment-text">{{comment.comment}}</span>
              </div>
            </div>
            <div>
              <span class="secondary-text">{{comment.duration}}</span>
              <span class="secondary-text">{{timeDiff(comment.date)}}</span>
            </div>
          </div>
        </div> -->


      </div>
      <div class="col-md-2" style="padding-bottom:40px"></div>
    </div>
  </div>

</ion-content>
<ion-footer>
  <div class="form-bar">
    <div class="add-button" style="margin-left: 16px;" (click)="selectFile(1)">
      <ion-icon name="camera"></ion-icon>
    </div>
    <div class="add-button" style="margin-left: 16px;" (click)="selectFile(2)">
      <ion-icon name="images"></ion-icon>
    </div>
    <div style="width: 100%;
      margin-right: 16px;">
      <ion-button *ngIf="done && type == 'group'" shape="round" style="width: 35%; float: right;" (click)="addGroupComment()">Post</ion-button>
      <ion-button *ngIf="!done && type == 'group'" shape="round" style="width: 35%; float: right;">
          <img src="assets/img/load.gif" style="height: 64px">
      </ion-button>
      <ion-button shape="round" style="width: 35%;
        float: right;" (click)="addGroupComment()" *ngIf="type == 'plan'">Post</ion-button>
    </div>
  </div>
</ion-footer>