.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: auto;
    width: 27px;
    height: 44px;
    margin-top: -41px;
    z-index: 10;
    cursor: pointer;
    background: none;
}

.button-native {
    background: none !important;
}

.swiper-zoom-container>canvas,
.swiper-zoom-container>img,
.swiper-zoom-container>svg {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: contain;
    object-fit: unset;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 0px !important;
    left: 0;
    width: 100%;
}

swiper-pagination {
    position: absolute !important;
}

// .swiper-zoom-container>canvas, .swiper-zoom-container>img, .swiper-zoom-container>svg {
//     max-width: 100%;
//     max-height: 100%;

//     object-fit: cover;
//     width: 100%;
//     height: 100%;
// }
.text {
    width: 300px;
    height: 36px;
    /* font-family: -webkit-pictograph; */
    font-size: 16px;
    font-weight: normal;
    font-family: SF Pro Regular;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: center;
    color: var(--black);
    position: fixed;
    margin-top: 59%;
}

.swiper-pagination {
    position: absolute !important;
}

@media only screen and (max-device-height: 700px) {

    /* define mobile specific styles come here */
    .height {
        height: -webkit-fill-available
    }
}

@media only screen and (min-device-height: 701px) {

    /* define mobile specific styles come here */
    .height {
        height: 93%
    }
}