<ion-content>
  <!-- <toolbar slot="fixed" *ngIf="showTitle == true" [back]="true" [reset]="true" (resetEmit)="resetPreferences($event)">
  </toolbar> -->
  <toolbar slot="fixed" *ngIf="showTitle" title="{{ 'plan-create.category' | translate }}" [back]="true"
    [reset]="true" (resetEmit)="resetPreferences($event)"></toolbar>
  <toolbar slot="fixed" *ngIf="pref" title="{{ 'preferences.preferences' | translate }}" [back]="true"
    [reset]="true" (resetEmit)="resetPreferences($event)"></toolbar>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div *ngIf="showText !== true" class="preferences-top"></div>
        <h1 *ngIf="showTitle == true" class="title">{{ 'preferences.preferences' | translate }}</h1>
        <div *ngIf="showText == true" class="secondary-text">
          {{ 'preferences.explanation' | translate }}
        </div>
        <!-- <form>
            <ion-list lines="none">
              <ion-item>
                <ion-label>All</ion-label>
                <ion-checkbox slot="end" [checked]="event_chk == true" mode="md" (ionChange)="changeChk($event)"></ion-checkbox>
              </ion-item>
              <ion-item *ngFor="let item of getSupercategories;let i = index" (click)="changeStatus(item,i)">
                <ion-label *ngIf="_globalServ?.language == 'es'">{{item?.name_ES}}</ion-label>
                <ion-label *ngIf="_globalServ?.language == 'en'">{{item?.name_EN}}</ion-label>
                <ion-checkbox [checked]="item?.checked == true" slot="end" mode="md"></ion-checkbox>
              </ion-item>
              <div class="box-center-full">
                <ion-button *ngIf="save == true" (click)="saveFirstTime()" class="button-one" shape="round">
                  <span *ngIf="fromSetting != true">{{ 'preferences.saveAndContinue' | translate }}</span>
                  <span *ngIf="fromSetting == true">{{ 'preferences.save' | translate }}</span>
                </ion-button>
                <ion-button *ngIf="selectBtn == true" (click)="select()" class="button-one" shape="round">
                  <span *ngIf="_globalServ?.language == 'en'">Select</span>
                <span *ngIf="_globalServ?.language == 'es'">Seleccionar</span>
                </ion-button>
              </div>
            </ion-list>
          </form> -->

        <!--  -->
        <div class="main_div">
          <div class="single_div">
            <div>
              <ion-label>All</ion-label>
            </div>
            <div class="c_box">

              <ion-checkbox slot="end" [checked]="event_chk == true" (ionChange)="changeChk($event)"></ion-checkbox>
            </div>
          </div>
          <div class="single_div" (click)="changeStatus(item,i)" *ngFor="let item of getSupercategories;let i = index">

            <div>
              <ion-label *ngIf="_globalServ?.language == 'es'">{{item?.name_ES}}</ion-label>
              <ion-label *ngIf="_globalServ?.language == 'en'">{{item?.name_EN}}</ion-label>
            </div>
            <div class="c_box">
              <ion-checkbox [checked]="item.checked" slot="end"></ion-checkbox>
            </div>
          </div>
        </div>

        <div class="box-center-full">
          <ion-button *ngIf="save === true" (click)="saveFirstTime()" class="button-one" shape="round">
            <span>{{ 'preferences.saveAndContinue' | translate }}</span>
          </ion-button>
          <ion-button *ngIf="selectBtn === true" (click)="select()" class="button-one" shape="round">
            <span *ngIf="_globalServ?.language == 'en'">Select</span>
            <span *ngIf="_globalServ?.language == 'es'">Seleccionar</span>
          </ion-button>
        </div>
        <!--  -->


      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</ion-content>