<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">

  <tab-menu slot="fixed"></tab-menu>
  <toolbar slot="fixed" [calendar]="false" [setting]="true" (filterEmit)="openFilter()"
    [title]="pageTitleName ? ('city-agenda-list.cityAgenda' | translate) : ''"></toolbar>
  <div class="container">

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h1 class="title">{{ 'city-agenda-list.cityAgenda' | translate }}</h1>
        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
          <ion-refresher-content style="" pullingIcon="arrow-dropdown" pullingText="" refreshingSpinner="circles"
            refreshingText="">
          </ion-refresher-content>
        </ion-refresher>
        <div *ngIf="!_globalServ?.listCityAgenda?.events" class="spinner-div">
          <ion-spinner name="lines"></ion-spinner>
        </div>
        <!-- <div *ngIf="_globalServ?.listCityAgenda?.events">
        <city-agenda-card *ngFor="let item of _globalServ?.listCityAgenda?.events" [dataCAItem]="item"></city-agenda-card>
      </div> -->

        <ion-virtual-scroll *ngIf="_globalServ?.listCityAgenda?.events" [items]="_globalServ?.listCityAgenda?.events"
          approxItemHeight="320px">

          <city-agenda-card *virtualItem="let item" [dataCAItem]="item"></city-agenda-card>
        </ion-virtual-scroll>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

</ion-content>