<ion-content>
  <toolbar slot="fixed"
    [title]="'group-create-settings.settings' | translate"
    [back]="true"
  >
  </toolbar>
  <div class="container settings-screen">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <ion-radio-group allow-empty-selection [(ngModel)]="groupSettingValue">
          <ion-item class="checkbox-item" lines="none" *ngFor="let item of groupCreateSettings; let i = index" (click)="changeStatus(i, $event)">
            <ion-label>{{item.name}}</ion-label>
            <ion-radio [ngClass]="{'checked': item.id === groupSettingValue}" [value]="item.id" [checked]="item.id === groupSettingValue" slot="end"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div class="container note-container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <span class="note">{{'group-create-settings.changeSettings' | translate}}
        </span><ion-icon name="more" style="margin-bottom: -5px; color: rgb(170, 170, 170);"></ion-icon>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</ion-content>