.hr-joined1{
	width: 1500px !important;
	background: rgb(224, 224, 224) !important;
	display: block !important;
	margin-left: -400px; 
	visibility: visible !important;
	margin-bottom: 0px;
}

.hr-joined2{
	width: 1500px !important;
	background: rgb(224, 224, 224) !important;
	display: block !important;
	margin-left: -400px; 
	visibility: visible !important;
	margin-top: 0px;
	margin-bottom: 0px;
}

.join-item{
	font-size: 17px;
	margin-bottom: 0px;
}
.container{
	background-color: #fff;
}

ion-content{
	-webkit-overflow-scrolling: touch;
}
.container{
	margin-top: 80px;
}