<ion-tabs>

	<ion-tab-bar slot="bottom" style="display: none">
		<ion-tab-button tab="search" no-padding>
			<ion-icon name="search"></ion-icon>
			<!-- <div class="bg-background search-tab icon-tab"></div> -->
			<!-- <ion-label></ion-label> -->
		</ion-tab-button>
		<ion-tab-button tab="notifications" no-padding>
			<ion-icon name="notifications-outline"></ion-icon>
			<!-- <div class="bg-background bell-tab icon-tab"></div> -->
			<!-- <ion-label></ion-label> -->
		</ion-tab-button>
		<ion-tab-button tab="" no-padding>
		</ion-tab-button>
		<ion-tab-button (click)="showMore()" no-padding>
			<ion-icon name="add"></ion-icon>
			<!-- <div class="bg-background plus-tab icon-tab"></div> -->
			<!-- <ion-label></ion-label> -->
		</ion-tab-button>
		<ion-tab-button tab="more" no-padding>
			<ion-icon name="menu"></ion-icon>
			<!-- <div class="bg-background menu-tab icon-tab"></div> -->
			<!-- <ion-label></ion-label> -->
		</ion-tab-button>
	</ion-tab-bar>

</ion-tabs>
<!-- [ngClass]="{'ios-fab':_globalServ?.iosDivice,'android-fab':_globalServ?.androidDivice}" -->
<ion-fab vertical="bottom" horizontal="center" slot="fixed" class="ios-fab" *ngIf="_globalServ.showIcon">
	<ion-fab-button>
		<ion-icon name="radio-button-on" style="font-size: 34px;"></ion-icon>
	</ion-fab-button>
	<!-- <ion-fab-list side="top" style="    min-width: 339px; margin-left: -139px;">
		<ion-fab-button (click)="goToOffersAndDiscount()" class="offer-discount" style="    margin-bottom: 20px;">
			<ion-icon name="md-pricetags"></ion-icon>
		</ion-fab-button>
		<ion-fab-button (click)="goToCityAgenda()" class="city-agenda">
			<ion-icon name="copy"></ion-icon>
		</ion-fab-button>
		<ion-fab-button (click)="goToCityGuide()" class="city-guide">
			<ion-icon name="ios-map"></ion-icon>
		</ion-fab-button>
		<ion-fab-button (click)="goToPlanList()" tab="plan-list" class="plan-list">
			<ion-icon name="calendar"></ion-icon>
		</ion-fab-button>
	</ion-fab-list> -->

	<ion-fab-list side="top" style="min-width: 339px; margin-left: -139px;">
		<ion-button (click)="goToCityGuide()" shape="round" class="city-guide">
			<ion-icon slot="start" name="ios-map"></ion-icon><span>{{ 'tabs.cityGuide' | translate }}</span>
		</ion-button>
		<ion-button (click)="goToOffersAndDiscount()" shape="round" class="offer-discount">
			<ion-icon slot="start" name="md-pricetags"></ion-icon><span>{{ 'tabs.offersAndDiscounts' | translate }}</span>
		</ion-button>
		<ion-button (click)="goToCityAgenda()" shape="round" class="city-agenda">
			<ion-icon slot="start" name="copy"></ion-icon><span>{{ 'tabs.cityAgenda' | translate }}</span>
		</ion-button>
		<ion-button (click)="goToGroups()" shape="round" class="groups">
			<ion-icon slot="start" name="people"></ion-icon><span>{{ 'tabs.groups' | translate }}</span>
		</ion-button>
		<ion-button (click)="goToPlanList()" shape="round" class="plan-list">
			<ion-icon slot="start" name="calendar"></ion-icon><span>{{ 'tabs.plans' | translate }}</span>
		</ion-button>
	</ion-fab-list>
</ion-fab>