<ion-content 
[scrollEvents]="true"
(ionScroll)="logScrolling($event)">
<tab-menu slot="fixed"></tab-menu>
<toolbar slot="fixed" [back]="true" [title]="pageTitleName ? ('about.about' | translate) : ''"></toolbar>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1 class="title">{{ 'about.about' | translate }}</h1>
      <div class="box-center-full box-logo-about">
        <img height="50" width="180" *ngIf="_globalServ?.org == 'IE'" src="assets/img/vive-logo.png">
        <img height="50" width="180" *ngIf="_globalServ?.org == 'CEU'" src="assets/img/vive-logo.png">
        <div class="logo-text">{{ 'about.logoText' | translate }}</div>
      </div>
      <div class="mini-container">
        <div class="title-desc-about">
          <span *ngIf="_globalServ?.org == 'IE'">{{ 'about.aboutVIVEIE' | translate }}</span>
          <span *ngIf="_globalServ?.org == 'CEU'">{{ 'about.aboutCEU' | translate }}</span>
        </div>
        <div class="desc-about" [innerHTML]="'about.textAbout' | translate"></div>
        <div class="box-policy-about" (click)="openPrivacyPolicy()">
          <span class="policy-about">{{ 'about.checkThePrivacyPolicy' | translate }}</span> <span
          class="fas fa-chevron-right policy-arrow"></span>
        </div>
        <!--Follow us and contact us details commented on 10/09/2019-->
        <!--<div class="contact-about">
          {{ 'about.contactUs' | translate }}
        </div>
        <div class="box-center-full">
          <div (click)="openWebVistingo()" class="box-blue-circle">
            <img width="48px" height="48px" src="assets/img/direction-web.png">
            <div class="blue-text">{{ 'city-guide-item.visitUs' | translate }}</div>
          </div>
          <div class="box-blue-circle">
            <a href="mailto:university@ie.edu" target="_top"><img width="48px" height="48px" src="assets/img/email.png">
              <div class="blue-text">{{ 'city-guide-item.emailUs' | translate }}</div>
            </a>
          </div>
          <div class="box-blue-circle" (click)="callWithNumber()">
            <img width="48px" height="48px" src="assets/img/call.png">
            <div class="blue-text">{{ 'city-guide-item.callUs' | translate }}</div>
          </div>
        </div>
        <div class="follow-about">
          {{ 'about.followUs' | translate }}
        </div>
        <div class="box-center-full">
          <div class="box-blue-circle circle2">
            <a href="https://www.ie.edu/business-school/">
              <img width="48px" height="48px" src="assets/img/ie.png">
              <div class="blue-text">{{ 'city-guide-item.website' | translate }}</div>
            </a>
          </div>
          <div class="box-blue-circle circle2">
            <a href="https://www.facebook.com/iebusinessschool/">
              <img width="48px" height="48px" src="assets/img/facebook.png">
              <div class="denim-blue">{{ 'city-guide-item.facebook' | translate }}</div>
            </a>
          </div>
          <div class="box-blue-circle circle2">
            <a href="https://www.instagram.com/iebusiness/">
              <img width="48px" height="48px" src="assets/img/instagram.png">
              <div class="text-insta">{{ 'city-guide-item.instagram' | translate }}</div>
            </a>
          </div>
        </div>
        <div class="box-center-full last_social_div">
          <div class="box-blue-circle circle2">
            <a href="https://twitter.com/iealumni">
              <img width="48px" height="48px" src="assets/img/twitter.png">
              <div class="blue-text">{{ 'city-guide-item.twitter' | translate }}</div>
            </a>
          </div>
          <div class="box-blue-circle circle2">
            <a href="https://www.youtube.com/user/IEBusinessSchool">  
              <img width="48px" height="48px" src="assets/img/youtube.png">
              <div class="text-red">{{ 'city-guide-item.youtube' | translate }}</div>
            </a>
          </div>
          <div class="box-blue-circle circle2">
            <a href="https://www.linkedin.com/school/ie-business-school/">
              <img width="48px" height="48px" src="assets/img/linked-in.png">
              <div class="text-linked">{{ 'city-guide-item.linkedin' | translate }}</div>
            </a>
          </div>
        </div>-->

        <div class="follow-about">
            {{ 'about.support' | translate }}
        </div>
        <ion-label class="support-text-lbl">
            {{ 'about.text-support' | translate }}
        </ion-label>
        <div class="btn_div">
          <ion-button shape="round" (click)="sendEmail()">
              {{ 'about.sendEmail' | translate }}
          </ion-button>
        </div>

      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
</ion-content>