ion-content{
	-webkit-overflow-scrolling: touch;
}
h1{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.container{
	margin-top: 80px;
}
.box-logo-about{
    margin-top: 66px;
}

.title-desc-about{
    font-size: 16px;
    line-height: 18pt;
    font-weight: 600;
    margin-top: 52px;
}

.desc-about{
    font-size: 13px;
    line-height: 18pt;
    margin-top: 9pt;
}

.box-policy-about{
    line-height: 5pt;
    margin-top: 39px;
}

.policy-about{
    font-size: 16px;
    font-weight: 600;
}

.policy-arrow{
    font-size: 11pt;
    margin-left: 6pt;
}

.contact-about{
    font-size: 16px;
    font-weight: 600;
    margin-top: 54px;
    margin-bottom: 21px;
}

.box-blue-circle {
    width: 33%;
    margin: 8px 0px 0px 0px;
}
.circle2{
    margin-bottom: 24px !important;
}
.follow-about{
    font-size: 16px;
    font-weight: 600;
    margin-top: 57px;
    margin-bottom: 21px;
}
.denim-blue{
    color: #3b5998;
}
.text-red{
    color: #ce1312;
}
.text-insta{
    color: #d54783;
}
.text-linked{
    color: #0077b5;
}
.mini-container{
    margin: 0px 16px 64px 16px;
}
.logo-text{
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.21px;
    font-family: 'SF Pro Regular';
}
.blue-text,.denim-blue,
.text-red,
.text-insta,
.text-linked{
    margin-top: 8px;
    font-size: 12px;
}
.support-text-lbl{
    font-size: 13px;
    font-family: 'SF Pro Regular';
    display: block;
}
.btn_div{
    margin-top: 27px;
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
    ion-button{
        --width: 220px;
    }
}
