<ion-content>
  <toolbar slot="fixed" [back]="true" title="Joined Student Plans"></toolbar>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div style="margin-top: 32pt;"></div>
        <!-- <div class="box-blue-circle" (click)="goToAllPlan()">
          <img width="48px" height="48px" src="../../../assets/img/plus.png"/>
          <p class="secondary-text" style="color: #179ed5; margin-top: 5px; margin-bottom: 0px;">{{ 'joined.viewAllPlans' | translate }}</p>
        </div> -->

        <div class="box-center-full view-full-btn">
          <ion-button (click)="goToAllPlan()" class="button-one view-plan" shape="round">
            <span>{{ 'joined.viewAllPlans' | translate }}</span>
          </ion-button> 
        </div>
        <div *ngFor="let item of Participations">
           <plan-card [dataPlan]="item" *ngIf="item.join == true"></plan-card> 
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</ion-content>