.background-image-ie {
  background: url('../../../assets/img/ie_login.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  width: 100%;
}

.background-image-ceu {
  background: url('../../../assets/img/ceu_login.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  width: 100%;
}




.half-page{
  min-height: 53%;
}

.btn-login-text{
  color: #009cd7;
}

ion-button {
  -webkit-appearance: none;
}

.btn-internal {
    -webkit-appearance: inherit;
}

.btn-login-internal{
  margin-right: -35px;
  margin-top: 15px;
}
.btn-login-new{
     margin-right: 13%;
     margin-top: 51px;
}
.loginText{
	margin-top: 71px;
    display: inline-block;
    color: #009cd7;
    margin-left: 21%;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 19px;
    margin-right: 25px;
}
.btn-login-office{
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  width: 200px;
  height: 34px;
  margin-top: 3px;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.box-login-office{
  margin-top: 65px;
}

.text-login-office{
  color: black;
}

ion-label {
  font-weight: 500;
}

.img-login{
  width: 18%;
  margin-top: -5px;
}
