<ion-content>
    <toolbar slot="fixed" [back]="true" title="{{firstName}}'s Plans"></toolbar>
    <div class="container">
        <div *ngIf="plans?.length === 0" class="noPlan">{{firstName}}{{ 'view-profile.noPlansJoined' | translate }}</div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div style="margin-top: 40pt;"></div>
          
          <div style="width: 100%;" *ngFor="let plan of plans; let i = index">
            <plan-card [dataPlan]="plan" style="width: 100%;"></plan-card>
          </div>
   
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </ion-content>