// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

.actionSheetForPlan_group .action-sheet-group.sc-ion-action-sheet-ios {
  //  margin-bottom: 5px;
}

.actionSheetForPlan_group.sc-ion-action-sheet-ios-h {
  bottom: 66PX !important;
}

.actionSheetForPlan_group .action-sheet-group.sc-ion-action-sheet-md {
  //margin-bottom: 8px;
}

.actionSheetForPlan_group.sc-ion-action-sheet-md-h {
  bottom: 66PX !important;
}

.actionSheetForPlan_group {
  ion-backdrop {
    opacity: 0 !important;
  }
}

.imageModal .modal-wrapper.sc-ion-modal-ios {
  background: black !important;
}

.imageModal .modal-wrapper.sc-ion-modal-md {
  background: black !important;
}

.automodal {
  height: 29%;
  z-index: 20003;
  top: 33%;
  width: 98%;
}

.c_box {

  & ion-checkbox {
    --border-radius: 2px;
    --border-width: 2px;
  }
}

ion-loading.my-loading-class {
  .loading-wrapper {
    background: transparent;
    box-shadow: none;
    margin-top: 100px;
  }

  .spinner-bubbles.sc-ion-loading-ios,
  .spinner-circles.sc-ion-loading-ios,
  .spinner-crescent.sc-ion-loading-ios,
  .spinner-dots.sc-ion-loading-ios,
  .spinner-lines.sc-ion-loading-ios,
  .spinner-lines-small.sc-ion-loading-ios {

    color: #009cd7;
    width: 45px;
    height: 42px;
  }



  .loading-spinner.sc-ion-loading-ios+.loading-content.sc-ion-loading-ios {
    color: #000000;
    font-size: 17px;
    font-family: sans-serif;
  }


}

.green {
  font-family: SF Pro Medium;
  color: #0eb50e !important;

}

.red {
  font-family: SF Pro Medium;
  color: #dc0000 !important;

}
li-ionic4-datepicker-modal .header-ios{
    height:70px !important;
}