<ion-content 
[scrollEvents]="true"
(ionScroll)="logScrolling($event)">
<tab-menu slot="fixed"></tab-menu>
<toolbar slot="fixed" [back]="true" [setting]="true" (filterEmit)="openFilter()" [title]="pageTitleName ? name_EN : ''"></toolbar>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1 class="title" *ngIf="_globalServ?.language == 'en'">{{name_EN}}</h1>
      <h1 class="title" *ngIf="_globalServ?.language == 'es'">{{name_ES}}</h1>
      <div class="box-container">

        <div *ngIf="!getListItem?.articles" class="spinner-div">
          <ion-spinner name="lines"></ion-spinner>
        </div>
        <div *ngIf="getListItem?.articles">
          <div *ngFor="let item of getListItem?.articles" (click)="goToCityGuideItem(item)" class="item">
            <ion-card>
                <app-img-with-loader class="img-cgi" style="position: static"
                [src]="url+'/get-image/'+item?.image">
                </app-img-with-loader>            
            </ion-card>
            <div class="box-center-full one-line-two">
              <span *ngIf="_globalServ?.language == 'en'">{{item?.name_EN}}</span> 
              <span *ngIf="_globalServ?.language == 'es'">{{item?.name_ES}}</span> 
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
</ion-content>