ion-content{
	-webkit-overflow-scrolling: touch;
}
.container{
	margin-top: 80px;
}

.box-container .item{
	float: left;
	// min-height: 220px;
	width: 50%;//helps to determine number of columns, for instance 33.3% displays 3 columns
	margin-bottom: 13px;
}
.item{
	list-style-type: disc;
}

.img-cgi{
	max-height: 250px;
	// min-height: 126px;
	min-height: 140px;
	object-fit: cover;
}

.spinner-div {
	text-align: center;
	margin: 15px;
}

.title{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.span{
	font-family: 'SF Pro Regular';
}
.one-line-two{
	white-space: normal;
}
.sc-ion-card-ios-h {
	margin-bottom: 13px;
}
.sc-ion-card-md-h {
	margin-bottom: 13px;
}

ion-card{
	border-radius: 10px;
	margin-top: 0px;
	min-height: 140px;
	height: 140px;
	// margin-left: 0px;
}
.img-cgi{
	border-radius: 10px;
}
.col-md-8{
	padding-left: 0px;
	padding-right: 0px;
}
.title{
	margin-left: 16px;
}
h1{
	margin-top: 0px;
	margin-bottom: 15px;
}

.col-md-8{
	margin-bottom: 100px;
}