<ion-content>
  <toolbar slot="fixed" title="{{ 'filters.filters' | translate }}" [back]="true" [reset]="true" (resetEmit)="resetFilter()">
  </toolbar>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="filter-top"></div>

        <div class="filter-by" *ngIf="city_guide == 0 || city_guide == 2" >
          {{ 'filters.sortBy' | translate }}
        </div>
        <ng-scrollbar [trackX]="true" [trackY]="false" *ngIf="city_guide == 0 || city_guide == 2">
          <div class="scroll-content">
            <div *ngFor="let item of listSortBy">
              <ion-chip *ngIf="item?.checked == null" (click)="activeSortBy(item)" class="chip-pasive" color="primary">
                <ion-label *ngIf="_globalServ.language == 'en'">{{item?.option_en}}</ion-label>
                <ion-label *ngIf="_globalServ.language == 'es'">{{item?.option_es}}</ion-label>
              </ion-chip>
              <ion-chip *ngIf="item?.checked == true" (click)="desactiveSortBy(item)" class="chip-active"
                color="primary">
                <ion-label *ngIf="_globalServ.language == 'en'">{{item?.option_en}}</ion-label>
                <ion-label *ngIf="_globalServ.language == 'es'">{{item?.option_es}}</ion-label>
              </ion-chip>
            </div>
          </div>
        </ng-scrollbar>

        <div class="filter-by" *ngIf="city_guide == 0">
          {{ 'filters.typeOfFeed' | translate }}
        </div>
        <ng-scrollbar [trackX]="true" [trackY]="false" *ngIf="city_guide == 0">
          <div class="scroll-content">
            <div *ngFor="let item of listTypeOfFeed">
              <ion-chip *ngIf="item.checked == null" (click)="activeTypeOfFeed(item)" class="chip-pasive"
                color="primary">
                <ion-label *ngIf="_globalServ.language == 'en'">{{item?.option_en}}</ion-label>
                <ion-label *ngIf="_globalServ.language == 'es'">{{item?.option_es}}</ion-label>
              </ion-chip>
              <ion-chip *ngIf="item.checked == true" (click)="desactiveTypeOfFeed(item)" class="chip-active"
                color="primary">
                <ion-label *ngIf="_globalServ.language == 'en'">{{item?.option_en}}</ion-label>
                <ion-label *ngIf="_globalServ.language == 'es'">{{item?.option_es}}</ion-label>
              </ion-chip>
            </div>
          </div>
        </ng-scrollbar>

        <div class="filter-by" *ngIf=" city_guide == 0 || city_guide == 2">
          {{ 'filters.date' | translate }}
        </div>
        <ng-scrollbar [trackX]="true" [trackY]="false" *ngIf="city_guide == 0 || city_guide == 2">
          <div class="scroll-content">
            <div *ngFor="let item of (listDate| slice: 0:7)">
              <ion-chip *ngIf="item?.checked == null" (click)="activeDate(item)" class="chip-pasive chip-all"
                color="primary">
                <ion-label *ngIf="_globalServ.language == 'en'">{{item?.option_en}}</ion-label>
                <ion-label *ngIf="_globalServ.language == 'es'">{{item?.option_es}}</ion-label>
              </ion-chip>
              <ion-chip *ngIf="item?.checked == true" (click)="desactiveDate(item)" class="chip-active chip-all"
                color="primary">
                <ion-label *ngIf="_globalServ.language == 'en'">{{item?.option_en}}</ion-label>
                <ion-label *ngIf="_globalServ.language == 'es'">{{item?.option_es}}</ion-label>
              </ion-chip>
            </div>
          </div>
          <!-- <ion-label>{{mydate}}</ion-label> -->

          <!-- <div *ngIf="!customDataValue">
            <div *ngFor="let item of (listDate| slice: -1)">
              <ion-chip *ngIf="item?.checked == null" (click)="activeDate(item)" class="chip-pasive chip-all"
                color="primary">
                <ion-label *ngIf="_globalServ.language == 'en'">{{item?.option_en}}</ion-label>
                <ion-label *ngIf="_globalServ.language == 'es'">{{item?.option_es}}</ion-label>
              </ion-chip>
              <ion-chip *ngIf="item?.checked == true" (click)="desactiveDate(item)" class="chip-active chip-all"
                color="primary">
                <ion-label *ngIf="_globalServ.language == 'en'">{{item?.option_en}}</ion-label>
                <ion-label *ngIf="_globalServ.language == 'es'">{{item?.option_es}}</ion-label>
              </ion-chip>
            </div>
          </div> -->

          <!-- <ion-chip *ngIf="customDataValue" (click)="desactiveDate(item)" class="chip-active chip-all"
            color="primary">
            <ion-label>{{day}} {{month}} {{year}}</ion-label>
            <ion-icon name="close-circle-outline" (click)="closeChip()"></ion-icon>
          </ion-chip> -->

          <div *ngFor="let item of (listDate| slice: -1)">
            <ion-chip [class.chip-active]="item?.checked" class="chip-pasive chip-all" style="display: flex; width: max-content">
              <ion-datetime display-format="MMM D YYYY"  (click)="activeDate(item)" placeholder="{{'filters.customDate' | translate}}" [(ngModel)]="mydate"></ion-datetime>
              <ion-icon *ngIf="item?.checked" name="close-circle-outline" (click)="closeChip()" style="position:relative; z-index:99999; color:white"></ion-icon>
            </ion-chip>

            <!-- <ion-chip [class.chip-active]="item?.checked"  (click)="desactiveDate(item)" class="chip-pasive chip-all" style="display: flex; width: max-content">
              <ion-datetime display-format="MMMM D YYYY" placeholder="Custom Date" [(ngModel)]="mydate"></ion-datetime>
              <ion-icon *ngIf="item?.checked" name="close-circle-outline" (click)="closeChip()" style="position:relative; z-index:99999; color:white"></ion-icon>
            </ion-chip> -->
          </div>
          

        </ng-scrollbar>

        <div class="filter-by" *ngIf="city_guide == 0 || city_guide == 1 || city_guide == 2 || city_guide == 3">
          {{ 'filters.city' | translate }}
        </div>
        <ng-scrollbar [trackX]="true" [trackY]="false" *ngIf="city_guide == 0 || city_guide == 1 || city_guide == 2 || city_guide == 3">
          <div class="scroll-content">
            <div *ngFor="let item of listCity">
              <ion-chip *ngIf="item?.checked == null" (click)="activeCity(item)" class="chip-pasive" color="primary">
                <ion-label *ngIf="_globalServ.language == 'en'">{{item?.option_en}}</ion-label>
                <ion-label *ngIf="_globalServ.language == 'es'">{{item?.option_es}}</ion-label>
              </ion-chip>
              <ion-chip *ngIf="item?.checked == true" (click)="desactiveCity(item)" class="chip-active" color="primary">
                <ion-label *ngIf="_globalServ.language == 'en'">{{item?.option_en}}</ion-label>
                <ion-label *ngIf="_globalServ.language == 'es'">{{item?.option_es}}</ion-label>
              </ion-chip>
            </div>

            <!--<ion-chip class="chip-active" color="primary">
              <ion-label>{{ 'filters.segovia' | translate }}</ion-label>
            </ion-chip>-->
          </div>
        </ng-scrollbar>

        <ion-row (click)="goToPreferences()" *ngIf="city_guide == 0 || city_guide == 1 || city_guide == 2 || city_guide == 3">
          <ion-col class="preferences" size="10">{{ 'filters.preferences' | translate }}</ion-col>
          <ion-col style="font-size: 10pt;text-align: center;" class="secondary-text" size="2">
            <span class="fas fa-chevron-right"></span></ion-col>
        </ion-row>
        <div class="box-center-full box-btn">
          <ion-button (click)="saveFilters()" class="button-one" shape="round">{{ 'filters.showResults' | translate }}
          </ion-button>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</ion-content>