.filter-by{
    // font-weight: 600;
    margin-bottom: 15px; 
    font-size: 16px;
}

ng-scrollbar{
    max-height: 80px;
    margin-left: -4px;
}

.box-btn{
    margin-top: 60px;
    margin-bottom: 60px;
}

.scroll-content{
    display: flex;
}

ion-chip{
    display: inline-table;
    //display: inline-block;
    white-space: nowrap;
    font-size: 14px;
    //min-width: 120px;
    //text-align: center;
}

.preferences{
    font-size: 18px;
    padding-left: 0px;
}

.filter-top{
    margin-top: 20px;
}

ion-content{
	-webkit-overflow-scrolling: touch;
}
.container{
	margin-top: 80px;
}
// New CSS
ion-back-button{
    // font-size: 25px !important;
    // --min-width: 20px;
    // font-size: 20px !important;
    --min-width: 20px;
}

.column-center[_ngcontent-xhq-c3]{
    font-size: 14px !important;
}
.filter-by{
    margin-bottom: 5px;
    font-size: 16px;
}
ion-chip{
    margin: 2px !important;
}
ng-scrollbar{
    height: auto;
    margin-bottom: 30px;
}
.col-md-8{
    padding-right: 0px;
}
.secondary-text{
    color: #c8c7cc;
}
span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.button-one{
    height: 44px !important;
}
.column-left {
    float: left;
    padding-top: 32px;
    //padding-right: 15px;
    padding-bottom: 3pt;
    padding-left: 25px;
    font-size: 21pt;
    ion-icon{
      font-size: 25px !important;
      margin-left: -10px;
    }
}

.custom-chip{
    width: max-content;
    display: flex;
    flex-direction: row;
}

.custom-chip2{
    padding: 0;
    width: max-content;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
    color: white !important;

    ion-datetime{
        padding: 0;
        color: white;
    }
}
ion-datetime{
    --placeholder-color : #009cd7;
    padding: 0px;
}
.white-chip{
    --background: white !important;
    --color: #3880ff !important;
    border: 1px solid #3880ff !important;
}
/deep/ .picker-wrapper.sc-ion-picker-ios{
    height : 305px !important; 
}