.box-container .item {
	float: left;
	// width: 172px;
	width: 50%;
	// height: 192px;
	margin-bottom: -5px;
}

.item {
	list-style-type: disc;
}

.cg-card-image {
	// max-height: 180px;
	// min-height: 126px;
	// width: 100%;
	// object-fit: cover;
	// height: 142px;

	max-height: 250px;
	min-height: 125px;
	object-fit: cover;
}

.span {
	font-family: 'SF Pro Regular';
}

.spinner-div {
	text-align: center;
	margin: 15px;
}

ion-content{
	-webkit-overflow-scrolling: touch;
}
.container{
	margin-top: 80px;
}
.title{
	font-size: 30px;
    font-family: 'SF Pro Bold';
    letter-spacing: -0.72px;
}
h1{
	margin-bottom: -5px;
	margin-top: 1px;
}
ion-card{
	border-radius: 10px;
	min-height: 125px;
	height: 125px;
}
.sc-ion-card-ios-h {
	margin-bottom: 15px;
	margin-bottom: 15px;
}

.sc-ion-card-md-h {
	margin-bottom: 15px;
	margin-bottom: 15px;
}
.even_card{
	margin-right: 8px !important;
	// margin-left: 8px !important;
}
.odd_card{
	margin-left: 8px !important;
	// margin-right: 8px !important;
}
.col-md-8{
	margin-bottom: 100px;
}