<ion-card (click)="goToCityAgendaItem(dataCAItem)">
  <!-- <img src="{{dataCAItem?.image}}" class="image"> -->
  <!-- <ion-img [src]="dataCAItem?.image" class="image"></ion-img>	 -->
  <app-img-with-loader class="image"
    [src]="dataCAItem?.image">
		</app-img-with-loader>
	<ion-card-header [class.card-header2]="!dataCAItem?.valid_until && dataCAItem?.name_EN.length < 20" [class.card-header3]="dataCAItem?.valid_until && dataCAItem?.name_EN.length < 20">
    <ion-card-subtitle *ngIf="dataCAItem?.valid_until">
     {{getDate(dataCAItem?.valid_until)}} 
    </ion-card-subtitle>
    <ion-card-title *ngIf="dataCAItem?.name_EN.length <= 20">
       {{this._globalServ?.language == 'en' ? dataCAItem?.name_EN : dataCAItem?.name_ES}} 
    </ion-card-title>
    <ion-card-title text-wrap *ngIf="dataCAItem?.name_EN.length > 20">
        {{this._globalServ?.language == 'en' ? dataCAItem?.name_EN : dataCAItem?.name_ES}} 
     </ion-card-title>
  </ion-card-header>
  <ion-card-content [class.card-content2]="!dataCAItem?.valid_until">
    <div class="weight-600 title-box-c-a">
      <span class="fas fa-map-marker-alt"></span> {{this._globalServ?.language == 'en' ? (dataCAItem['Places'].length > 0 ? dataCAItem['Places'][0]['name_EN'] : '') : (dataCAItem['Places'].length > 0 ? dataCAItem['Places'][0]['name_ES'] : '')}}
    </div>
    <div class="two-line-one">
      <span [innerHTML]="short_text(dataCAItem?.description_EN)"></span>
    </div>
  </ion-card-content>
</ion-card>