<ion-content>
  <div (click)="goBack()" class="btn-back-content-item"
    [ngClass]="{'btn-back-content-item-ios':_globalServ?.iosDivice}">
    <span class="btn-back-item fas fa-chevron-left"></span>
  </div>
  <div class="main-item-image" style="position: relative">
    <app-img-with-loader style="position: static"
    [src]="item?.image" (click)="presentModal(item.image)">
    </app-img-with-loader>         
</div>  
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">

        <div class="item-title">
          <h2>{{item?.title}}</h2>
        </div>

        <div class="box-center-full">
          <div class="box-blue-circle" (click)="goToSite(item?.website)" *ngIf="item?.website">
            <img width="48px" height="48px" src="assets/img/website.png">
            <div class="blue-text">{{ 'offers-discounts-item.Website' | translate }}</div>
          </div>
          <div class="box-blue-circle" (click)="callWithNumber(item?.phone)" *ngIf="item?.phone">
            <img width="48px" height="48px" src="assets/img/call.png">
            <div class="blue-text">{{ 'offers-discounts-item.Call' | translate }}</div>
          </div>
          <div class="box-blue-circle">
             <a href="https://www.google.com/maps/place/{{item?.latitude}},{{item?.longitude}}">
            <img width="48px" height="48px" src="assets/img/direction-web.png">
            <div class="blue-text">{{ 'offers-discounts-item.Directions' | translate }}</div>
            </a>
          </div>
           <div class="box-blue-circle" (click)="goToCreatePlan(item)">
            <img width="48px" height="48px" src="assets/img/plan.png">
            <div class="blue-text">{{ 'city-guide-item.createPlan' | translate }}</div>
          </div>
        </div>

        <table>
          <tr class="weight-600">
            <td>
              <ion-icon class="icon-item" name="information-circle"></ion-icon>
            </td>
            <td class="title-item">{{ 'offers-discounts-item.details' | translate }}</td>
          </tr>
          <tr>
            <td></td>
            <td class="secondary-text" *ngIf="!read_flag">{{item?.description | slice: 0:250}}</td>
            <td class="secondary-text" *ngIf="read_flag">{{item?.description}}</td>
          </tr>
          <tr>
            <td></td>
            <td class="blue-text size-18-pt" *ngIf="item?.description ?.length > 250">
              <ion-label  (click)="readMore()" *ngIf="!read_flag">{{ 'offers-discounts-item.readMore' | translate }}</ion-label>
              <ion-label  (click)="readLess()" *ngIf="read_flag">{{ 'offers-discounts-item.readless' | translate }}</ion-label>
            </td>
          </tr>
        </table>

        <table>
          <tr class="weight-600">
            <td>
              <ion-icon class="icon-item" name="md-calendar"></ion-icon>
            </td>
            <td class="title-item">{{ 'offers-discounts-item.validUntil' | translate }}</td>
          </tr>
          <tr class="secondary-text">
            <td></td>
            <td>{{item?.validUntil | date:'mediumDate'}}</td>
          </tr>
          <tr>
        </table>

          <table>
            <tr class="weight-600">
              <td>
                <ion-icon class="icon-item" name="ios-pricetag"></ion-icon>
              </td>
              <td class="title-item">{{ 'offers-discounts-item.price' | translate }}</td>
            </tr>
            <tr class="secondary-text">
              <td></td>
              <td><span *ngIf="item?.price != 0 || item?.price != '0'">&euro;</span>{{item?.price == 0 || item?.price == '0' ? 'Free' : item?.price}}</td>
            </tr>
            <tr>
            </table>

            <table>
              <tr class="weight-600">
                <td>
                  <ion-icon class="icon-item" name="clock"></ion-icon>
                </td>
                <td class="title-item">{{ 'offers-discounts-item.openingHours' | translate }}</td>
              </tr>
              <tr class="secondary-text opening-tr" *ngFor="let itemOpening of openingDatetime">
                <td></td>
                <!-- <td *ngIf="itemOpening!='' || itemOpening!='undefined'" [innerHTML]="removeUndefined(itemOpening)"></td> -->
                <!-- <td *ngIf="itemOpening!='' || itemOpening != 'undefined'" [innerHTML]="itemOpening"></td> -->
                <td *ngIf="checkHours(itemOpening)"><span [innerHTML]="itemOpening"></span></td>
              </tr>
            </table>

            <table>
              <tr class="weight-600">
                <td>
                  <ion-icon class="icon-item" name="pin"></ion-icon>
                </td>
                <td class="title-item">{{ 'offers-discounts-item.location' | translate }}</td>
              </tr>
              <tr class="secondary-text">
                <td></td>
                <td>{{item?.address}}</td>
              </tr>
              <tr>
          <!--<tr class="secondary-text">
            <td></td>
            <td>Calle abc 45</td>
          </tr>
          <tr class="secondary-text">
            <td></td>
            <td>ABC</td>
          </tr>
          <tr>-->
            <td></td>
            <td>
              <ion-chip (click)="goToSite(item?.website)" class="btn-blue-general" *ngIf="item?.website">
                <ion-label>{{ 'offers-discounts-item.Website' | translate }}</ion-label>
              </ion-chip>
            </td>
          </tr>
        </table>

        <div class="box-map-one">
          <div id="map" class="map-one" #map></div>
        </div>

        <!--
        <table>
          <tr class="weight-600">
            <td>
              <ion-icon class="icon-item" name="ios-bus"></ion-icon>
            </td>
            <td class="title-item">{{ 'offers-discounts-item.howToGetThere' | translate }}</td>
          </tr>
          <tr class="secondary-text weight-600">
            <td></td>
            <td>Bus</td>
          </tr>
          <tr class="secondary-text">
            <td></td>
            <td>21 , 74</td>
          </tr>
          <tr class="secondary-text weight-600">
            <td></td>
            <td>Metro</td>
          </tr>
          <tr class="secondary-text">
            <td></td>
            <td>21 , 74</td>
          </tr>
        </table>
      -->

      <table class="margin-last-table" style="margin-bottom: 120px;">
        <tr class="weight-600">
          <td>
            <ion-icon class="icon-item" name="ios-share"></ion-icon>
          </td>
          <td class="title-item">{{ 'offers-discounts-item.share' | translate }}</td>
        </tr>
        <tr class="secondary-text">
          <td></td>
          <td>
            <ion-chip class="btn-facebook" (click)="facebookShare()">
              <ion-label>Facebook</ion-label>
            </ion-chip>
            <ion-chip  class="btn-twitter" (click)="twitterShare()">
              <ion-label>Twitter</ion-label>
            </ion-chip>
            <a (click)="mailShare()" target="_top">
              <ion-chip class="btn-email">
                <ion-label>Email</ion-label>
              </ion-chip></a>
              <ion-chip class="btn-whatsapp" (click)="whatsappShare()">
                <ion-label>WhatsApp</ion-label>
              </ion-chip>
              <ion-chip class="btn-instagram" (click)="instagramShare()">
                <ion-label>Instagram</ion-label>
              </ion-chip>
            </td>
          </tr>
          <tr>
        </table>
        <div class="btn_div">
          <input type="text" id="all" hidden="hidden">
          <!-- <ion-button shape="round" (click)="showCode(item)">
            Show Code
          </ion-button> -->
        </div>


      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" class="show-code-float div_btn">
    <ion-button shape="round" (click)="showCode(item)">
        {{ 'offers-discounts-item.showCode' | translate }}
    </ion-button>
  </ion-fab>
</ion-content>