ion-button {
    -webkit-appearance: none;
}

.secondary-text {
    color: #888;
    font-size: 17px !important;
}

.box-center-full {
    // margin-top: 32px;
    margin-bottom: 28px;
}

.item-instagram {
    margin-left: 16px;
    width: 100%;
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

.chip-inst {
    margin-right: 0px;
}

ion-datetime {
    width: 100%;
    text-align: right;
    color: #888;
}

.hr-profile {
    width: 1500px !important;
    background: rgb(224, 224, 224) !important;
    display: block !important;
    margin-left: -400px;
    visibility: visible !important;
}

.form-field {
    margin-left: -15px;
    margin-right: -15px;
}

hr {
    margin-top: 0;
}

.white-bg {
    background-color: #fff;
}

.content-margin {
    margin-top: 32px;
}

ion-content {
    -webkit-overflow-scrolling: touch;
}

.container {
    margin-top: 80px;
}

.profile_detail {
    // background: white;
    padding-left: 0px;
    padding-right: 0px;
}

ion-item {
    --padding-end: 16px;
    --inner-padding-end: 0px;

    ion-input {
        --padding-end: 0px;
    }

    ion-datetime {
        --padding-end: 0px;
    }
}

.secondary-text {
    margin-right: 0px;
}

.button-one {
    margin-top: 45PX;
}