.empty-text {
  color: #9b9b9b;
  font-size: 12px;
  margin: auto;
}

.club-card-row { // new-way card row
  display: flex;
  flex-wrap: wrap;

  .club-card {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 29.3%;
    cursor: pointer;
    margin-right: 2%;
    margin-left: 2%;
  
    & img {
      border-radius: 5px;
      width: 100%;
    }
  
    & .title {
      font-size: 12px;
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 5px;
    }
  
    & .icon-status {
      display: flex;
      justify-content: center;
      font-size: 12px;
      color: #9b9b9b;
  
      & ion-icon {
        font-size: 15px;
      }
    }
  }
}

.all-club-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .title,
  & .view-all {
    font-size: 18px;
  }

  & .view-all {
    color: #9b9b9b;
    cursor: pointer;
  }
}

ion-content{
	-webkit-overflow-scrolling: touch;
}
.container{
	margin-top: 80px;
}