<ion-content>
	<toolbar slot="fixed" [back]="true"></toolbar>
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h1 class="title">{{ 'gain-voucher.title' | translate }}</h1>
				<div class="margin-bottom"></div>
			</div>

			<img src="assets/img/amazon.png" alt="">

			<div *ngIf="isVoucherSent" class="col-md-8 voucher-content1">
				<h4>{{ 'gain-voucher.congrats' | translate }}</h4>
				<span *ngIf="voucher ==''"
					style="font-family: 'SF Pro regular' !important;">{{ 'gain-voucher.sentvoucher' | translate }}</span>
				<span *ngIf="voucher !=''"
					style="font-family: 'SF Pro regular' !important;">{{ 'gain-voucher.sentvoucher1' | translate }}</span>
				<p style="font-family: 'SF Pro regular' !important;">{{ 'gain-voucher.enjoy' | translate }}</p>
			</div>

			<div *ngIf="!isVoucherSent" class="col-md-8 voucher-content">
				<h4>{{ 'gain-voucher.inviteFriends' | translate }}</h4>
				<h4 class="promo-code-text">{{refer}}</h4>
				<p class="share-conten-para">{{ 'gain-voucher.shareContent' | translate }}</p>
				<ion-row style="margin-top: 29px;">
					<ion-col>
						<div (click)="share('whatsapp')">
							<img class="share-icon" src="assets/img/whats-app@2x.png">
							<!-- <p style="color: #25d366;">Whatsapp</p> -->
						</div>
					</ion-col>
					<ion-col>
						<div (click)="share('sms')">
							<img class="share-icon" src="assets/img/chat-share.png">
							<!-- <p style="color: #0084ff;">Messenger</p> -->
						</div>
					</ion-col>
					<ion-col>
						<div (click)="share('any')">
							<img class="share-icon" src="assets/img/share-share.png">
							<!-- <p style="padding-top: 1px;color: #0971bd;">SMS</p> -->
						</div>
					</ion-col>
				</ion-row>
			</div>



			<div class="col-md-2"></div>
		</div>
	</div>
</ion-content>