.container{
	margin-top: 80px;
}
.voucher-content{
	margin-top: 42px;
	text-align: center;
	padding: 42px;
}
.voucher-content1{
	margin-top: 107px;
	text-align: center;
	padding: 33px;
}
.promo-code-text{
	margin-top: 42px;
	margin-bottom: 42px;
}

.share-conten-para{
	font-size: 14px;
	color: #aaaaaa;
}
.share-icon {
	width: 48px;
	height: 48px;
	object-fit: contain;
	background-color: var(--black);
}