/*.btn-back-content-item{
    height: 75px;
    position: fixed;
    margin-top: 15px;
    margin-left: 15px;
    z-index: 9999;
    //background: rgba(255,255,255,0.8);.
    text-align: center;
}

.btn-back-item{
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px rgba(255,255,255,0.8);
    padding: 3px 3px;
    width: 21px;
    background: rgba(255,255,255,0.8);
}*/

.box-center-full{
    margin-top: 35px;
    margin-bottom: 25px;
}

.map-one{
   margin-top: 20px;
}

table{
    margin-top: 24pt;
}

/*.sc-ion-card-md-h {
    margin-left: 0px; 
     margin-right: 0px;
     margin-top: 0px; 
     border-radius: 0px;
}*/

/*.item-avatar-card.hydrated{
    --inner-border-width: 0;
    --padding-start: 0;
}*/

.category-screen {
    margin-top: 10px;
}

.category {
    display: flex;
    align-items: center;
    margin: 20px 0px;
}

.category-name {
    font-weight: bold;
}

ion-checkbox {
    --border-radius: 2px;
    --border-width: 2px;
}

.category-heading {
    margin-top: 100px;
    border-bottom: solid 1px #cccccc;
    font-weight: bold;
    padding: 5px 15px;
}

ion-content{
	-webkit-overflow-scrolling: touch;
}
.container{
    margin-top: 10px;
}

.main_div{
    width: 100%;

    .single_div{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px;
        justify-content: space-between;

        .blue_back{
            width: 18px;
            height: 18px;
            border: 2px solid#009cd7;
            border-radius: 2px;
            position: relative;
            background: #009cd7;
            ion-icon{
                font-size: 40px !important;
                color: white;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }
}

.btn-back-content-item1 {
  margin-left: 15px;
  z-index: 9999;
  height: 100px;
  padding-right: 32px;
  display: flex !important;
  align-items: center !important;
}


.btn-back-item {
  display: inline-block;
  border-radius: 60px;
  font-size: 22px;
  height: 32px;
  width: 32px;
  padding-top: 5px;
  padding-left: 8px;
  color: black;
  background: rgba(255, 255, 255, 0.2);
}

.btn-back-content-item-ios{
  margin-top: 36px;
}

.category-label {
  display: block;
  width: 100%;
  text-align: center;
}

.category-heading {
  margin-top: 0;
}