<ion-content>
  <div *ngIf="comp ==='view-profile'" (click)="goToViewProfile()" class="btn-back-content-item"
    [ngClass]="{'btn-back-content-item-ios':_globalServ?.iosDivice}">
    <span class="btn-back-item fas fa-chevron-left"></span>
  </div>
  <div *ngIf="comp !=='view-profile'" (click)="goBack()" class="btn-back-content-item"
    [ngClass]="{'btn-back-content-item-ios':_globalServ?.iosDivice}">
    <span class="btn-back-item fas fa-chevron-left"></span>
  </div>
  <div *ngIf="getItem?.image && isValidGroupImage" class="main-item-image">
    <app-img-with-loader [src]="getItem?.image" (error)="updateGroupUrl($event)">
    </app-img-with-loader>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8" style="margin-bottom: 40px;padding-right: 0px;padding-left: 0px">
        <div class="item-title">
          <h2>
            <span></span>
            <span style="float: right;" (click)="presentActionSheet(getItem.id)"
              *ngIf="_globalServ.idUser == getItem?.fk_user_id">...</span>
          </h2>
        </div>
        <div class="box-center-full">
          <div *ngIf="isJoined && !isCreator" class="box-blue-circle" (click)="joinGroup()">
            <img height="48" width="48" src="../../../assets/img/checked.png" />
            <p class="secondary-text" style="color: #179ed5; margin-top: 5px">{{'group-detail.joined' | translate}}
            </p>
          </div>
          <div *ngIf="!isJoined && !isCreator && !isPrivate" class="box-blue-circle" (click)="joinGroup()">
            <img height="48" width="48" src="../../../assets/img/plus.png" />
            <p class="secondary-text" style="color: #179ed5; margin-top: 5px">{{'group-detail.join' | translate}}</p>
          </div>
          <div class="box-blue-circle" (click)="goToCreatePlan()" *ngIf="createPlan">
            <img height="48" width="48" src="../../../assets/img/plan.png" />
            <p class="secondary-text" style="color: #179ed5; margin-top: 5px">
              {{'group-detail.createPlan' | translate}}
            </p>
          </div>
          <div class="box-blue-circle" (click)="SentRequest()" *ngIf="!isJoined && !isCreator && isPrivate && !issent">
            <img height="48" width="48" src="../../../assets/img/direction-web.png" />
            <p class="secondary-text" style="color: #179ed5; margin-top: 5px">{{'group-detail.asktojoin' | translate}}
            </p>
          </div>
          <div class="box-blue-circle" *ngIf="!isJoined && !isCreator && isPrivate && issent">
            <img height="48" width="48" src="../../../assets/img/send_disaable.png" />
            <p class="secondary-text" style="color: #d8d9da; margin-top: 5px">{{'group-detail.requestsent' | translate}}
            </p>
          </div>
      </div>
      <ion-segment mode="md" [(ngModel)]="selectedType" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="information">
          <ion-label>{{ 'write-comment.information' | translate }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="discussion">
          <ion-label>{{ 'write-comment.posts' | translate }}</ion-label>
        </ion-segment-button>
      </ion-segment>
      <div *ngIf="selectedType == 'information'" style="margin: 10px;">
        <table>
          <tr class="weight-normal">
            <td>
              <ion-icon class="icon-item" name="information-circle"></ion-icon>
            </td>
            <td class="title-item">{{ 'group-detail.details' | translate }}</td>
          </tr>
          <tr>
            <td></td>
            <td class="secondary-text">
              <span style="white-space: pre-line"
                *ngIf="_globalServ?.language == 'en' && (truncating && descLength > limit)">{{getItem?.description | truncate : limit}}</span>
              <span style="white-space: pre-line"
                *ngIf="_globalServ?.language == 'es' && (truncating && descLength > limit)">{{getItem?.description | truncate : limit}}</span>
              <span style="white-space: pre-line"
                *ngIf="_globalServ?.language == 'en' && (!truncating && descLength > limit)">{{getItem?.description}}</span>
              <span style="white-space: pre-line"
                *ngIf="_globalServ?.language == 'es' && (!truncating && descLength > limit)">{{getItem?.description}}</span>
              <span style="white-space: pre-line"
                *ngIf="_globalServ?.language == 'en' && descLength < limit">{{getItem?.description}}</span>
              <span style="white-space: pre-line"
                *ngIf="_globalServ?.language == 'es' && descLength < limit">{{getItem?.description}}</span>
            </td>
          </tr>
          <tr *ngIf="truncating && descLength > limit">
            <td></td>
            <td class="blue-text size-18-pt" (click)="truncating = false">{{ 'group-detail.readMore' | translate }}
            </td>
          </tr>
        </table>
        <table style="width: 100%;">
          <tr class="weight-normal">
            <td class="member-h-icon">
              <ion-icon class="icon-item" name="ios-person"></ion-icon>
            </td>
            <td class="title-item">
              <span>{{ 'group-detail.members' | translate }}: {{groupMembers.length}}</span>
              <span class="invite-member" (click)="goToMembers()" *ngIf="isCreator"
                style="margin-right: 13px">{{ 'group-detail.invite' | translate }}</span>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <span *ngFor="let member of groupMembers; let i = index">
                <img *ngIf="i < math.round((innerWidth - 70 - 2*37) / 37)" class="members-avatar"
                  src="{{member?.image}}" />
              </span>
              <span *ngIf="groupMembers.length > math.round((innerWidth - 70 - 2*37) / 37)" class="more-member"
                (click)="goToMembers()">
                +{{groupMembers.length - math.round((innerWidth - 70 - 2*37) / 37)}}
              </span>
            </td>
          </tr>
        </table>
        <table>
          <tr class="weight-600">
            <td>
              <ion-icon class="icon-item" name="star"></ion-icon>
            </td>
            <td class="title-item">{{'group-create.admin' | translate}}</td>
          </tr>
          <tr>
            <td></td>
            <td class="secondary-text" style="display: block; margin: 5px 0px;">

              <ion-item lines="none" *ngIf="creater_name && creater_pic" style="margin-left: -16px">
                <ion-avatar slot="start" style="margin-right: 0px;">
                  <img class="members-avatar" src="{{creater_pic}}">
                </ion-avatar>
                <ion-label class="admin_namelbl">
                  {{creater_name}}
                </ion-label>
              </ion-item>
              <ion-item lines="none" *ngFor="let admin of groupAdmins;" style="margin-left: -16px">
                <ion-avatar slot="start" style="margin-right: 0px;">
                  <img class="members-avatar" src="{{admin?.image}}">
                </ion-avatar>
                <ion-label class="admin_namelbl">
                  {{admin?.name}}
                </ion-label>
              </ion-item>
            </td>
          </tr>
        </table>
        <table class='calendarTable'>
          <span *ngIf="plans.length > 0" class='viewCalander' (click)="openCalendar()">View Calendar</span>
          <tr class="weight-normal trPlans">
            <td>
              <ion-icon class="icon-item" name="calendar"></ion-icon>
            </td>
            <td class="title-item">{{ 'group-detail.plans' | translate }}</td>
          </tr>
          <tbody>
            <tr *ngIf="plans.length == 0">
              <td></td>
              <td span class="secondary-text">{{ 'group-detail.noPlans' | translate }}</td>
            </tr>
          </tbody>
        </table>
        <ion-slides *ngIf="plans.length !== 0" style="width: 100%;" [pager]="true">
          <ion-slide style="width: 100%;" *ngFor="let plan of plans;">
            <plan-card [dataPlan]="plan" style="width: 100%;" (click)="goToGroupPlanItem(plan)"></plan-card>
          </ion-slide>
        </ion-slides>
      </div>
      <div *ngIf="selectedType == 'discussion'">
        <ion-item *ngIf="(getItem?.private == 1 && getItem?.fk_user_id == _globalServ.idUser) || (getItem?.private != 1)" (click)="writeComment()" lines="none" style="border-bottom: 5px solid var(--ion-color-light);padding:16px">
          <ion-avatar slot="start">
            <img src="{{profile.image}}">
          </ion-avatar>
          <ion-label style="font-size: 16px;color: #bbbbbbef;">{{ 'write-comment.postsomething' | translate }}
          </ion-label>
        </ion-item>
        <ion-item *ngFor="let admin of groupAdmins;" (click)="writeComment()" lines="none" style="border-bottom: 5px solid var(--ion-color-light);padding:16px">
          <ion-avatar slot="start" *ngIf="admin?.fk_user_id == _globalServ.idUser && getItem?.private == 1 && getItem?.fk_user_id != _globalServ.idUser">
            <img src="{{admin?.image}}">
          </ion-avatar>
          <ion-label *ngIf="admin?.fk_user_id == _globalServ.idUser && getItem?.private == 1 && getItem?.fk_user_id != _globalServ.idUser" style="font-size: 16px;color: #bbbbbbef;">{{ 'write-comment.postsomething' | translate }}
          </ion-label>
        </ion-item>
        <div>
          <ion-card *ngFor="let comment of comments; let i = index" style="margin: 0px;
            box-shadow: none;border-bottom: 5px solid var(--ion-color-light);">
            <ion-item lines="none" style="padding-left: 14px;
              padding-right: 14px;
              padding-top: 14px;">
              <ion-avatar slot="start">
                <img src="{{comment.fk_user_image}}">
              </ion-avatar>
              <ion-label>
                <h4 style="font-weight: bold;">{{comment.fk_user_first_name}} {{comment.fk_user_last_name}}</h4>
                <p>{{timeDiff(comment.created)}}</p>
              </ion-label>
            </ion-item>
            <ion-card-content style="padding-top: 6px;
              padding-bottom: 6px;
              font-size: 14px;
              padding-left: 30px;">
              {{comment.comment}}
            </ion-card-content>
            <span *ngIf="!comment.image.includes('empty_avatar.png')">
              <img src="{{comment.image}}">
            </span>
          </ion-card>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  </div>
</ion-content>