ion-button {
    -webkit-appearance: none;
}

.box-img{
    //margin-top: 60%;
    position: fixed; /* or absolute */
    top: 40%;
    left: 50%;
    right: 0;
    left: 0;
}

.box-congrats{
    margin-top: 20px;
}
