<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <tab-menu slot="fixed"></tab-menu>
  <toolbar slot="fixed" [map]="true" [setting]="true" [calendar]="false" (filterEmit)="openFilter()"
    [title]="pageTitleName ? ('offers-discounts-list.offersAndDiscounts' | translate) : ''"></toolbar>
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h1 class="title">{{ 'offers-discounts-list.offersAndDiscounts' | translate }}</h1>

        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
          <ion-refresher-content style="" pullingIcon="arrow-dropdown" pullingText="" refreshingSpinner="circles"
            refreshingText="">
          </ion-refresher-content>
        </ion-refresher>
        <div *ngIf="!_globalServ.listOfferAndDisc?.discounts" class="spinner-div">
          <ion-spinner name="lines"></ion-spinner>
        </div>
        <!-- <div *ngIf="_globalServ.listOfferAndDisc?.discounts" class="spinner-div">
        <offer-discount-card *ngFor="let item of _globalServ.listOfferAndDisc?.discounts" [dataOffDisc]="item"></offer-discount-card>
      </div> -->

        <ion-virtual-scroll *ngIf="_globalServ.listOfferAndDisc?.discounts"
          [items]="_globalServ.listOfferAndDisc?.discounts" approxItemHeight="320px" class="spinner-div">
          <offer-discount-card *virtualItem="let item" [dataOffDisc]="item"></offer-discount-card>
        </ion-virtual-scroll>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

</ion-content>