.checked {
    background: #009cd8;
    border-color: #009cd8;
}

.settings-screen {
    margin-top: 100px;
    padding: 0;
    border-top: solid 1px rgb(224, 224, 224);
    border-bottom: solid 1px rgb(224, 224, 224);
}

.checkbox-item {
    margin: 5px 0px;
}

.instructions {
    color: #afafaf;
    background-color: #f1f1f1;
    height: 100%;
    padding: 15px;
}

ion-radio {
    width: 26px;
    height: 26px;
    border: solid 2px #c8c7cc;
    border-radius: 26px;
    --color: #009cd8;
    --color-checked: white;
}

.note-container {
    background: rgb(249, 249, 249);
    height: calc(100vh - 237px);
    padding-top: 10px;

    & .note {
        color: rgb(170, 170, 170);
            font-size: 14px;
            padding: 0px 15px;
            display: block
    }
}