.hr-pc {
    width: 1500px !important;
    background: rgb(224, 224, 224) !important;
    display: block !important;
    margin-left: -400px;
    visibility: visible !important;
    margin-bottom: 0;
    margin-top: 0;
}

.pc-margin-top {
    margin-top: 34pt;
    margin-bottom: 20pt;
}

img {
    
        width: 48px;
        height: 48px;
        object-fit: contain;
        background-color: var(--black);
    
}

.success-container {
    height: 100vh;

    .msgicon {
        height: 86vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        & .icon {
            width: 101px;
            height: 101px;
            border-radius: 101px;
            border: solid rgb(0, 156, 215);
            color: rgb(0, 156, 215);
            text-align: center;
            line-height: 118px;

            & ion-icon {
                font-size: 55px;
            }
        }

        & .comment {
            margin-top: 40px;
    width: 267px;
    height: 36px;
    /* font-family: SFPro regular; */
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: center;
    color: var(--black);
        }
    }
 
}
   .msg{
        margin-top: 40px;
   
    /* font-family: SFPro regular; */
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: center;
    color: var(--black);
    }
    p{
     
    /* height: 14px; */
    /* font-family: SFProText; */
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    /* font-stretch: normal; */
    /* line-height: normal; */
    /* letter-spacing: -0.44px; */
    text-align: center;
  
    }