.code{
  //margin-top: 60%;
  position: fixed; /* or absolute */
  top: 40%;
  left: 50%;
  right: 0;
  left: 0;
  font-size: 28pt;
  line-height: 33pt;
  font-weight: 600;
}

ion-content{
	-webkit-overflow-scrolling: touch;
}
.container{
	margin-top: 80px;
}

.col-md-8{
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .card-img-container{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    overflow: hidden;
    .bg-img{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
    }
  }
  .title_name{
    display: block;
    text-align: center;
    font-size: 16px;
    color: black;
    font-family: 'SF Pro Medium';
  } 
  .title_code{
    font-size: 28px;
    font-weight: 600;
    font-family: 'SF Pro Bold';
    margin-top: 90px;
  }
}

 