<ion-content>
  <toolbar slot="fixed" [title]="'group-create.plantype' | translate" [back]="true"
    (click)="goBack()" >
  </toolbar>
  <div class="container settings-screen">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">

        <ion-item-divider mode="md" style="padding-left: 0px;">
          <ion-label margin style="font-size: large;
						font-family: sans-serif;
            color: black;">{{ 'group-create.public' | translate }}</ion-label>
          <ion-checkbox [(ngModel)]="public" slot="end" (ionChange)="gettype('public')" style="margin-right: 20px;">
          </ion-checkbox>
        </ion-item-divider>

        <ion-item-divider mode="md" style="padding-left: 0px;">
          <ion-label margin style="font-size: large;
						font-family: sans-serif;
            color: black;">{{ 'group-create.private' | translate }}</ion-label>
          <ion-checkbox [(ngModel)]="private" slot="end" (ionChange)="gettype('private')" style="margin-right: 20px;">
          </ion-checkbox>
        </ion-item-divider>

        <ion-label class="first_label">{{'group-create.public_plan_text' | translate}}</ion-label>

        <ion-label class="last_label">{{'group-create.private_plan_text' | translate}}</ion-label>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</ion-content>